html {
  transition: 1s;
}

.vc-body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.vc-header {
  margin-left: 295px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 24px;
  background: #3f5880;
}

.vc-contacts,
.vc-social {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.vc-contacts__links {
  font-style: normal;
}

.vc-social {
  align-items: center;
}

.vc-contacts__text {
  color: #ffffff;
  margin-right: 30px;
}

.vc-social__text {
  margin-right: 25px;
}

.vc-social__links {
  display: flex;
}

.vc-social__link {
  width: 34px;
  height: 34px;
  opacity: 0.7;
  margin-right: 10px;
  transition: 300ms;
  &:hover {
    opacity: 1;
  }
  &:last-child {
    margin-right: 0;
  }
}

.vc-contacts__email,
.vc-contacts__phone {
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 22px;
  margin-right: 30px;
  background: url("../images/call.svg") no-repeat left top/16px 16px;
  &:hover {
    text-decoration: underline;
  }
}

.vc-contacts__email {
  background-image: url("../images/envelope.svg");
}

.vc-footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 0 20px;
  background: #3f5880;
  color: #ffffff;
  margin-left: 295px;
}

@media (max-width: 1200px) {
  .vc-header,
  .vc-footer {
    margin-left: 0;
  }
  .vc-header {
    position: relative;
    z-index: 1100;
  }
}

@media (max-width: 900px) {
  .vc-header {
    .vc-contacts__links {
      width: 165px;
      a {
        margin-right: 0;
        line-height: 1.5;
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .vc-footer {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .vc-copyright {
    margin-bottom: 15px;
  }
  .vc-social {
    margin-left: 0;
  }
}

@media (max-width: 670px) {
  .vc-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .vc-header {
    padding-left: 10px;
    padding-right: 10px;
    .vc-contacts__text {
      display: none;
    }
  }
  .vc-footer {
    .vc-contacts {
      line-height: 1.5;
      flex-direction: column;
    }
  }
}

@media (max-width: 360px) {
  .vc-header__contacts {
    display: none;
  }
}
